@charset "utf-8";

/*
   New Perspectives on HTML and CSS
   Tutorial 6
   Tutorial Case

   Columns Style Sheet
   Author: Md Suhel Rana
   Date:   02/23/2022

   Filename: dlr_columns.css

*/



/* Column Styles */
@media only screen and (min-width: 641px) {
   article {
      column-count: 2;
      column-gap: 30px;
      column-rule: 2px solid gray;
      widows: 3;
      orphans: 3;
   }

   article h1 {
      column-span: all;
   }

}











